body {
   font: 300 100%/1.5 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   color: #222;
   background: #fff;
}
/* responsive images */
img {
    width: 100%;
    height: auto;
    display: block;
}