body {
   font: 300 100%/1.5 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   color: #e8eef2;
   background: #235084;
}
/* responsive images */
img {
    width: 100%;
    height: auto;
    display: block;
}
a {
    text-decoration: none;
    color: #ff8a5b;
}